<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizer</title>
</head>
<body>
    <script>
        const LINK_URL = `{% url "api-link-view" %}`;
        const LINK_SOURCE = new EventSource(LINK_URL);
        LINK_SOURCE.onopen = () => {
            console.log("Link source connected");
        }
        LINK_SOURCE.onmessage = (e) => {
            console.log(e);
        }
    </script>
</body>
</html>